<br/>
Hello World from about page!
<br/>
<h3 MyBold>Chào bạn {{ name }} tuổi</h3>
<h3 MyBold>Tôi năm nay {{ age }} tuổi</h3>
<br/>
<button (click)="tangtuoi()">Tăng tuổi</button>
<br/>
<span>{{ comments | json }}</span>
<br/>
Posts:
<!-- <div *ngFor="let post of posts">
    <li>{{post | json }}</li>
</div> -->
<button type="button" class="btn btn-primary">
    Notifications <span class="badge badge-light">{{ posts?.length }}</span>
  </button>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Post</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts">
        <th scope="row">{{ post?.id }}</th>
        <td>{{ post?.title }}</td>
        <td>{{ post?.author }}</td>
    </tbody>
  </table>
<br/>
<button (click)="addPost()">Thêm mới bài viết</button>